global
    log stdout format raw local0

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80
    default_backend web_back

backend web_back
    balance roundrobin
    cookie SERVERID insert indirect nocache
    acl use_dark rand() lt 6553
    use-server hotel-web-dark if use_dark
    server hotel-web-light hotel-web-light:80 check cookie light
    server hotel-web-dark hotel-web-dark:80 check cookie dark
